/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

@use "sass:color";

// Colors
$red-color: #ff3636 !default;
$red-color-dark: #b71c1c !default;
$orange-color2: #c85502 !default;
$orange-color: #CC5500 !default;
$blue-color: #0076df !default;
$blue-color-dark: #00369f !default;
$cyan-color: #2698ba !default;
$light-cyan-color: color.adjust($cyan-color, $lightness: 25%);

$green-color-test: #267a67 !default;
$green-bg-palette: #f6f2eb !default;
$green-footer-palette: #483c32 !default;
$green-footer-palette2: #1b1f07 !default;

$green-navbar-palette-dark: #1b1f07 !default;
$green-card-palette-dark: #1b1f07 !default;
$green-footer-palette-dark: #919082 !default;

$green-color-test-dark: #267a64 !default;
$green-navbar-palette-dark2: #0e171c !default;
$green-card-palette-dark2: #24292e !default;
$green-footer-palette-dark2: #f5ffff !default;

$green-navbar-palette-dark3: #051f20 !default;
$green-card-palette-dark3: #0b2b26 !default;
$green-footer-palette-dark3: #daf1db !default;

$green-navbar-palette-dark4: #231b15 !default;
$green-card-palette-dark4: #4b3f33 !default;
$green-footer-palette-dark4: #988a7a !default;

$blue-navbar-palette: #d4d8dd !default;
$blue-footer-palette: #292c36 !default;

$blue-color-palette: #f0ecdd !default;
$blue-color-palette2: #c3d2e0 !default;
$blue-color-palette3: #bdc2c7 !default;
$blue-color-palette4: #292c36 !default;

$green-color: #00ab37 !default;
$green-color-lime: #b7d12a !default;
$green-color-dark: #009f06 !default;
$green-color-light: #ddffdd !default;
$green-color-bright: #11d68b !default;
$purple-color: #b509ac !default;
$light-purple-color: color.adjust($purple-color, $lightness: 25%);
$pink-color: #f92080 !default;
$pink-color-light: #ffdddd !default;
$yellow-color: #efcc00 !default;
$brown-color: #413737 !default;
$red-rare-color: #4B211B !default;

$grey-color: #828282 !default;
$grey-color-light: color.adjust($grey-color, $lightness: 40%);
$grey-color-dark: #1c1c1d;
$grey-900: #212529;

$white-color: #ffffff !default;
$black-color: #000000 !default;

// Theme colors

$code-bg-color-light: rgba($green-color-test, 0.05);
$code-bg-color-dark: #52423d !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Tabler icons location
$ti-font-path: "../fonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;
